# To Be Or Not To Be
In this project we will be looking at a Shakespeare dataset that contains all the lines spoken from shakespeare's works, the play it was spoken in, the Act Scene and Line number, the Player Line number, and the Player who spoke the line. We will add some features to make this dataset more useful. We will seperate the ActSceneLine col into their own respective columns. Also we will one hot encode the Play column which may be useful for the classifier in telling which play the line is from. Another important feature we will add is adding a column for every unique character in shakespeare's works and then cross referencing every Player in the current scene and putting a 1 in their current row and column if they are in the scene and a 0 if not. The idea behind this being that there will be much less players to choose from if we know who is in the current scene thus giving the classifier better odds at predicting the right player.

We will start by importing essential libraries and loading the Shakespeare dataset into pandas

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.neural_network import MLPClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.preprocessing import OneHotEncoder
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
data = pd.read_csv('Shakespeare_data.csv', index_col = "Dataline")

lets check out the data for missing values

In [3]:
#checks the data for missing values
for col in data.columns: 
    counter = 0
    empty = pd.isnull(data[col])
    for el in empty:
        if(el == True):
            counter = counter + 1
    print(str(col) + ": " + str(counter))

data.head()

Play: 0
PlayerLinenumber: 3
ActSceneLine: 6243
Player: 7
PlayerLine: 0

,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
Dataline,,,,,
1,Henry IV,NaN,NaN,NaN,ACT I
2,Henry IV,NaN,NaN,NaN,SCENE I. London. The palace.
3,Henry IV,NaN,NaN,NaN,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

So it seems we have some columns that have missing data, this is fine but we are going to go ahead and set these missing data values to 0.

In [4]:
data["ActSceneLine"] = data["ActSceneLine"].fillna("0.0.0")
data = data.fillna(0)
data.head()

,Play,PlayerLinenumber,ActSceneLine,Player,PlayerLine
Dataline,,,,,
1,Henry IV,0.0,0.0.0,0,ACT I
2,Henry IV,0.0,0.0.0,0,SCENE I. London. The palace.
3,Henry IV,0.0,0.0.0,0,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ..."
4,Henry IV,1.0,1.1.1,KING HENRY IV,"So shaken as we are, so wan with care,"
5,Henry IV,1.0,1.1.2,KING HENRY IV,"Find we a time for frighted peace to pant,"

We are going to cplit up the ActSceneLine into three categories Act Scene and Line

In [5]:
Act = []
Scene = []
Line = []
for el in data.ActSceneLine:
    text  = str(el).split(".")
    Act.append(text[0])
    Scene.append(text[1])
    Line.append(text[2])
data["Act"] = Act
data["Scene"] = Scene
data["Line"] = Line
data = data.drop(columns=["ActSceneLine"])
data.head()

,Play,PlayerLinenumber,Player,PlayerLine,Act,Scene,Line
Dataline,,,,,,,
1,Henry IV,0.0,0,ACT I,0,0,0
2,Henry IV,0.0,0,SCENE I. London. The palace.,0,0,0
3,Henry IV,0.0,0,"Enter KING HENRY, LORD JOHN OF LANCASTER, the ...",0,0,0
4,Henry IV,1.0,KING HENRY IV,"So shaken as we are, so wan with care,",1,1,1
5,Henry IV,1.0,KING HENRY IV,"Find we a time for frighted peace to pant,",1,1,2

We want the want to keep the Play column but we want to put it into a format the classifier can work with, so we will use the OneHotEncoder method.

In [6]:
y = pd.get_dummies(data.Play)
for col in y.columns:
    data[col] = y[col]
data = data.drop(columns = ["Play"])

Now lets label Encode the Player column so it can be used in the classifier

In [7]:
data["Player_cat"] = data["Player"].astype('category').cat.codes
data.head(2)

,PlayerLinenumber,Player,PlayerLine,Act,Scene,Line,A Comedy of Errors,A Midsummer nights dream,A Winters Tale,Alls well that ends well,...,Romeo and Juliet,Taming of the Shrew,The Tempest,Timon of Athens,Titus Andronicus,Troilus and Cressida,Twelfth Night,Two Gentlemen of Verona,macbeth,Player_cat
Dataline,,,,,,,,,,,,,,,,,,,,,
1,0.0,0,ACT I,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0.0,0,SCENE I. London. The palace.,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Lets split our data into training and testing data sets

In [8]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns = ["Player","PlayerLine", "Player_cat"]), data["Player_cat"], test_size=.2, random_state=41)

lets make a naive bayes classifier and run it on our data set to see how it performs. The goal here is to see how it performs before we add more features and then compare the results to the same classifier after we have added more features.

In [9]:
clf =  GaussianNB()
clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)

print(score)

0.2192549371633752

We get an accuracy score of around %20, this is very low

Lets get the characters stated at the beginning of each scene

In [10]:
actors = [" "]
for el in range(len(data["Line"])):
    
    if(data.at[el+1,"Line"] == "1"):
        actors = []
        str = data.at[el,"PlayerLine"].replace("and",",").replace("of", "").replace("LORD", '').split(",")
        for sent in str:
            
            
            for word in sent.split():
                if(not word.isupper()):
                    sent = sent.replace(word,"")
                    
            actors.append(sent)      
    data.at[el+1, "actors"] = actors

Lets One Hot Encode the Player names so we can match them later on with characters in the current Scene

In [11]:
y = pd.get_dummies(data.Player)
for col in y.columns:
    data[col] = y[col]

Next we need to check if the actors match a players name

In [12]:
pnames = data['Player'].unique()
pnames[0] = ""
print(pnames)

['' 'KING HENRY IV' 'WESTMORELAND' 'FALSTAFF' 'PRINCE HENRY' 'POINS'
 'EARL OF WORCESTER' 'NORTHUMBERLAND' 'HOTSPUR' 'SIR WALTER BLUNT'
 'First Carrier' 'Ostler' 'Second Carrier' 'GADSHILL' 'Chamberlain'
 'BARDOLPH' 'PETO' 'First Traveller' 'Thieves' 'Travellers' 'LADY PERCY'
 'Servant' 'FRANCIS' 'Vintner' 'Hostess' 'Sheriff' 'Carrier' 'MORTIMER'
 'GLENDOWER' 'EARL OF DOUGLAS' 'Messenger' 'VERNON' 'WORCESTER'
 'ARCHBISHOP OF YORK' 'SIR MICHAEL' 'LANCASTER' 'BEDFORD' 'GLOUCESTER'
 'EXETER' 'OF WINCHESTER' 'CHARLES' 'ALENCON' 'REIGNIER'
 'BASTARD OF ORLEANS' 'JOAN LA PUCELLE' 'First Warder' 'Second Warder'
 'WOODVILE' 'Mayor' 'Officer' 'Boy' 'SALISBURY' 'TALBOT' 'GARGRAVE'
 'GLANSDALE' 'Sergeant' 'First Sentinel' 'BURGUNDY' 'Sentinels' 'Soldier'
 'Captain' 'OF AUVERGNE' 'Porter' 'PLANTAGENET' 'SUFFOLK' 'SOMERSET'
 'WARWICK' 'Lawyer' 'First Gaoler' 'KING HENRY VI' 'ALL' 'First Soldier'
 'Watch' 'FASTOLFE' 'BASSET' 'YORK' 'General' 'LUCY' 'JOHN TALBOT'
 'Legate' 'Scout' 'MARGARET' 'SU FFOLK' 'Shepherd' 'QUEEN MARGARET'
 'CARDINAL' 'BUCKINGHAM' 'DUCHESS' 'HUME' 'First Petitioner'
 'Second Petitioner' 'PETER' 'HORNER' 'BOLINGBROKE' 'Spirit'
 'MARGARET JOURDAIN' 'Townsman' 'SIMPCOX' 'Wife' 'Beadle' 'BOTH'
 'First Neighbour' 'Second Neighbour' 'Third Neighbour' 'Servants'
 'Herald' 'STANLEY' 'Post' 'First Murderer' 'Second Murderer'
 'First Murder' 'Commons' 'VAUX' 'First Gentleman' 'Master'
 'Second Gentleman' 'WHITMORE' 'BEVIS' 'HOLLAND' 'CADE' 'DICK' 'SMITH'
 'Clerk' 'CLERK' 'MICHAEL' 'SIR HUMPHREY' 'WILLIAM STAFFORD' 'SAY'
 'SCALES' 'First Citizen' 'CLIFFORD' 'IDEN' 'EDWARD' 'RICHARD'
 'YOUNG CLIFFORD' 'MONTAGUE' 'NORFOLK' 'PRINCE EDWARD' 'JOHN MORTIMER'
 'RUTLAND' 'Tutor' 'PRINCE' 'GEORGE' 'Son' 'Father' 'First Keeper'
 'Second Keeper' 'KING EDWARD IV' 'CLARENCE' 'LADY GREY' 'Nobleman'
 'KING LEWIS XI' 'OXFORD' 'BONA' 'HASTINGS' 'QUEEN ELIZABETH'
 'First Watchman' 'Second Watchman' 'Third Watchman' 'RIVERS' 'Huntsman'
 'Lieutenant' 'All' 'First Messenger' 'Second Messenger' 'COUNTESS'
 'BERTRAM' 'LAFEU' 'HELENA' 'PAROLLES' 'Page' 'KING' 'First Lord'
 'Second Lord' 'Steward' 'Clown' 'Both' 'Fourth Lord' 'DUKE' 'Widow'
 'DIANA' 'MARIANA' 'Second Soldier' 'Gentleman' 'ORLANDO' 'ADAM' 'OLIVER'
 'DENNIS' 'CELIA' 'ROSALIND' 'TOUCHSTONE' 'LE BEAU' 'DUKE FREDERICK'
 'DUKE SENIOR' 'AMIENS' 'CORIN' 'SILVIUS' 'JAQUES' 'AUDREY'
 'SIR OLIVER MARTEXT' 'PHEBE' 'A Lord' 'Forester' 'WILLIAM' 'First Page'
 'Second Page' 'HYMEN' 'JAQUES DE BOYS' 'PHILO' 'CLEOPATRA' 'MARK ANTONY'
 'Attendant' 'DEMETRIUS' 'CHARMIAN' 'ALEXAS' 'Soothsayer'
 'DOMITIUS ENOBARBUS' 'IRAS' 'First Attendant' 'Second Attendant'
 'OCTAVIUS CAESAR' 'LEPIDUS' 'MARDIAN' 'POMPEY' 'MENECRATES' 'MENAS'
 'VARRIUS' 'MECAENAS' 'AGRIPPA' 'OCTAVIA' 'Attendants' 'First Servant'
 'Second Servant' 'VENTIDIUS' 'SILIUS' 'EROS' 'CANIDIUS' 'TAURUS' 'SCARUS'
 'DOLABELLA' 'EUPHRONIUS' 'THYREUS' 'Third Soldier' 'Fourth Soldier'
 'First Guard' 'Second Guard' 'Third Guard' 'DERCETAS' 'DIOMEDES'
 'Egyptian' 'PROCULEIUS' 'GALLUS' 'SELEUCUS' 'Guard' 'AEGEON'
 'DUKE SOLINUS' 'Gaoler' 'First Merchant' 'OF SYRACUSE'
 'DROMIO OF SYRACUSE' 'DROMIO OF EPHESUS' 'ADRIANA' 'LUCIANA' 'OF EPHESUS'
 'BALTHAZAR' 'LUCE' 'ANTIPHOLUS' 'ANGELO' 'Second Merchant' 'Courtezan'
 'PINCH' 'AEMELIA' 'Second Citizen' 'MENENIUS' 'MARCIUS' 'First Senator'
 'COMINIUS' 'TITUS' 'SICINIUS' 'BRUTUS' 'AUFIDIUS' 'Second Senator'
 'VOLUMNIA' 'VIRGILIA' 'Gentlewoman' 'VALERIA' 'LARTIUS' 'First Roman'
 'Second Roman' 'Third Roman' 'CORIOLANUS' 'First Officer'
 'Second Officer' 'Senators' 'Third Citizen' 'Fourth Citizen'
 'Fifth Citizen' 'Both Citizens' 'Sixth Citizen' 'Seventh Citizen'
 'All Citizens' 'Citizens' 'AEdile' 'A Patrician' 'Second Patrician'
 'Both Tribunes' 'Roman' 'Volsce' 'Citizen' 'First Servingman'
 'Second Servingman' 'Third Servingman' 'Young MARCIUS'
 'First Conspirator' 'Second Conspirator' 'Third Conspirator'
 'All The Lords' 'Lords' 'All Conspirators' 'All The People' 'Third Lord'
 'QUEEN' 'POSTHUMUS LEONATUS' 'IMOGEN' 'CYMBELINE' 'PISANIO' 'CLOTEN'
 'Lady' 'IACHIMO' 'PHILARIO' 'Frenchman' 'First Lady' 'CORNELIUS'
 'CAIUS LUCIUS' 'BELARIUS' 'GUIDERIUS' 'ARVIRAGUS' 'First Tribune' 'Lord'
 'First Captain' 'Second Captain' 'Second Gaoler' 'Sicilius Leonatus'
 'Mother' 'First Brother' 'Second Brother' 'Jupiter' 'Posthumus Leonatus'
 'BERNARDO' 'FRANCISCO' 'HORATIO' 'MARCELLUS' 'KING CLAUDIUS' 'VOLTIMAND'
 'LAERTES' 'LORD POLONIUS' 'HAMLET' 'QUEEN GERTRUDE' 'OPHELIA' 'Ghost'
 'REYNALDO' 'ROSENCRANTZ' 'GUILDENSTERN' 'First Player' 'Prologue'
 'Player King' 'Player Queen' 'LUCIANUS' 'PRINCE FORTINBRAS' 'Danes'
 'First Sailor' 'First Clown' 'Second Clown' 'First Priest' 'OSRIC'
 'First Ambassador' 'Chorus' 'CANTERBURY' 'ELY' 'KING HENRY V' 'NYM'
 'PISTOL' 'SCROOP' 'CAMBRIDGE' 'GREY' 'KING OF FRANCE' 'DAUPHIN'
 'Constable' 'FLUELLEN' 'GOWER' 'JAMY' 'MACMORRIS' 'GOVERNOR' 'KATHARINE'
 'ALICE' 'BOURBON' 'MONTJOY' 'ORLEANS' 'RAMBURES' 'ERPINGHAM' 'COURT'
 'BATES' 'WILLIAMS' 'GRANDPRE' 'French Soldier' 'QUEEN ISABEL'
 'FRENCH KING' 'ABERGAVENNY' 'CARDINAL WOLSEY' 'First Secretary' 'BRANDON'
 'KING HENRY VIII' 'QUEEN KATHARINE' 'Surveyor' 'SANDS' 'LOVELL'
 'GUILDFORD' 'ANNE' 'CARDINAL CAMPEIUS' 'GARDINER' 'Old Lady' 'Scribe'
 'Crier' 'GRIFFITH' 'LINCOLN' 'SURREY' 'CROMWELL' 'Third Gentleman'
 'PATIENCE' 'CAPUCIUS' 'DENNY' 'CRANMER' 'Keeper' 'DOCTOR BUTTS'
 'Chancellor' 'Man' 'Garter' 'KING JOHN' 'CHATILLON' 'QUEEN ELINOR'
 'ESSEX' 'BASTARD' 'ROBERT' 'LADY FAULCONBRIDGE' 'GURNEY' 'LEWIS' 'ARTHUR'
 'AUSTRIA' 'CONSTANCE' 'KING PHILIP' 'BLANCH' 'French Herald'
 'English Herald' 'CARDINAL PANDULPH' 'ELINOR' 'HUBERT'
 'First Executioner' 'PEMBROKE' 'BIGOT' 'MELUN' 'FLAVIUS' 'First Commoner'
 'MARULLUS' 'Second Commoner' 'CAESAR' 'CASCA' 'CALPURNIA' 'ANTONY'
 'CASSIUS' 'CICERO' 'CINNA' 'LUCIUS' 'DECIUS BRUTUS' 'METELLUS CIMBER'
 'TREBONIUS' 'PORTIA' 'LIGARIUS' 'PUBLIUS' 'ARTEMIDORUS' 'POPILIUS'
 'Several Citizens' 'CINNA THE POET' 'OCTAVIUS' 'LUCILIUS' 'PINDARUS'
 'Poet' 'MESSALA' 'VARRO' 'GHOST' 'CLAUDIUS' 'TITINIUS' 'CATO' 'CLITUS'
 'DARDANIUS' 'VOLUMNIUS' 'STRATO' 'KENT' 'EDMUND' 'KING LEAR' 'GONERIL'
 'CORDELIA' 'LEAR' 'REGAN' 'CORNWALL' 'EDGAR' 'OSWALD' 'Knight' 'Fool'
 'ALBANY' 'CURAN' 'Third Servant' 'Old Man' 'Doctor' 'FERDINAND'
 'LONGAVILLE' 'DUMAIN' 'BIRON' 'DULL' 'COSTARD' 'ADRIANO DE ARMADO' 'MOTH'
 'ARMADO' 'JAQUENETTA' 'BOYET' 'PRINCESS' 'MARIA' 'ROSALINE'
 'SIR NATHANIEL' 'HOLOFERNES' 'MERCADE' 'First Witch' 'Second Witch'
 'Third Witch' 'DUNCAN' 'MALCOLM' 'LENNOX' 'ROSS' 'MACBETH' 'BANQUO'
 'ANGUS' 'LADY MACBETH' 'FLEANCE' 'MACDUFF' 'DONALBAIN' 'ATTENDANT'
 'Both Murderers' 'Third Murderer' 'HECATE' 'First Apparition'
 'Second Apparition' 'Third Apparition' 'LADY MACDUFF' 'MENTEITH'
 'CAITHNESS' 'SEYTON' 'SIWARD' 'Soldiers' 'YOUNG SIWARD' 'DUKE VINCENTIO'
 'ESCALUS' 'LUCIO' 'MISTRESS OVERDONE' 'CLAUDIO' 'Provost' 'FRIAR THOMAS'
 'ISABELLA' 'FRANCISCA' 'ELBOW' 'FROTH' 'POMPHEY' 'Justice' 'JULIET'
 'ABHORSON' 'BARNARDINE' 'FRIAR PETER' 'ANTONIO' 'SALARINO' 'SALANIO'
 'BASSANIO' 'LORENZO' 'GRATIANO' 'NERISSA' 'SHYLOCK' 'MOROCCO' 'LAUNCELOT'
 'GOBBO' 'LEONARDO' 'JESSICA' 'ARRAGON' 'TUBAL' 'SALERIO' 'BALTHASAR'
 'STEPHANO' 'SHALLOW' 'SLENDER' 'SIR HUGH EVANS' 'PAGE' 'SIMPLE'
 'ANNE PAGE' 'Host' 'MISTRESS QUICKLY' 'RUGBY' 'DOCTOR CAIUS' 'FENTON'
 'MISTRESS PAGE' 'MISTRESS FORD' 'FORD' 'ROBIN' 'WILLIAM PAGE' 'THESEUS'
 'HIPPOLYTA' 'EGEUS' 'HERMIA' 'LYSANDER' 'QUINCE' 'BOTTOM' 'FLUTE'
 'STARVELING' 'SNOUT' 'SNUG' 'PUCK' 'Fairy' 'OBERON' 'TITANIA'
 'PEASEBLOSSOM' 'COBWEB' 'MUSTARDSEED' 'HERNIA' 'PHILOSTRATE' 'Wall'
 'Pyramus' 'Thisbe' 'Lion' 'Moonshine' 'LEONATO' 'BEATRICE' 'HERO'
 'DON PEDRO' 'BENEDICK' 'DON JOHN' 'CONRADE' 'BORACHIO' 'URSULA'
 'DOGBERRY' 'VERGES' 'Watchman' 'FRIAR FRANCIS' 'Sexton' 'RODERIGO' 'IAGO'
 'BRABANTIO' 'OTHELLO' 'CASSIO' 'DUKE OF VENICE' 'Sailor' 'Senator'
 'DESDEMONA' 'MONTANO' 'Fourth Gentleman' 'Second Gentlemen' 'EMILIA'
 'First Musician' 'BIANCA' 'LODOVICO' 'ANTIOCHUS' 'PERICLES' 'Daughter'
 'THALIARD' 'HELICANUS' 'CLEON' 'DIONYZA' 'First Fisherman'
 'Second Fisherman' 'Third Fisherman' 'SIMONIDES' 'THAISA' 'KNIGHTS'
 'Marshal' 'First Knight' 'Knights' 'ESCANES' 'Second Knight'
 'Third Knight' 'LYCHORIDA' 'Second Sailor' 'CERIMON' 'PHILEMON' 'LEONINE'
 'MARINA' 'First Pirate' 'Second Pirate' 'Third Pirate' 'Pandar' 'BOULT'
 'Bawd' 'LYSIMACHUS' 'Tyrian Sailor' 'KING RICHARD II' 'JOHN OF GAUNT'
 'HENRY BOLINGBROKE' 'THOMAS MOWBRAY' 'Lord Marshal' 'DUKE OF AUMERLE'
 'First Herald' 'Second Herald' 'GREEN' 'BUSHY' 'DUKE OF YORK' 'LORD ROSS'
 'LORD WILLOUGHBY' 'BAGOT' 'HENRY PERCY' 'LORD BERKELEY'
 'EARL OF SALISBURY' 'BISHOP OF CARLISLE' 'SIR STEPHEN SCROOP' 'Gardener'
 'GARDENER' 'LORD FITZWATER' 'DUKE OF SURREY' 'Abbot' 'DUCHESS OF YORK'
 'EXTON' 'Groom' 'BRAKENBURY' 'LADY ANNE' 'GENTLEMEN' 'DERBY' 'DORSET'
 'CATESBY' 'Second murderer' 'Girl' 'Children' 'Lord Mayor' 'LORD STANLEY'
 'Pursuivant' 'Priest' 'RATCLIFF' 'VAUGHAN' 'BISHOP OF ELY' 'LOVEL'
 'Scrivener' 'ANOTHER' 'KING RICHARD III' 'TYRREL' 'Third Messenger'
 'Fourth Messenger' 'CHRISTOPHER' 'RICHMOND' 'HERBERT' 'BLUNT'
 'of Prince Edward' 'of King Henry VI' 'Ghost of CLARENCE'
 'Ghost of RIVERS' 'Ghost of GREY' 'Ghost of VAUGHAN' 'Ghost of HASTINGS'
 'of young Princes' 'Ghost of LADY ANNE' 'of BUCKINGHAM' 'LORDS' 'SAMPSON'
 'GREGORY' 'ABRAHAM' 'BENVOLIO' 'TYBALT' 'CAPULET' 'LADY CAPULET'
 'LADY MONTAGUE' 'ROMEO' 'PARIS' 'Nurse' 'MERCUTIO' 'Second Capulet'
 'FRIAR LAURENCE' 'NURSE' 'LADY  CAPULET' 'Second Musician' 'Musician'
 'Third Musician' 'Apothecary' 'FRIAR JOHN' 'SLY' 'First Huntsman'
 'Second Huntsman' 'Players' 'A Player' 'LUCENTIO' 'TRANIO' 'BAPTISTA'
 'GREMIO' 'KATHARINA' 'HORTENSIO' 'HORTENSIA' 'BIONDELLO' 'PETRUCHIO'
 'GRUMIO' 'KATARINA' 'CURTIS' 'NATHANIEL' 'PHILIP' 'JOSEPH' 'NICHOLAS'
 'Pedant' 'Haberdasher' 'Tailor' 'VINCENTIO' 'Boatswain' 'ALONSO'
 'GONZALO' 'SEBASTIAN' 'Mariners' 'MIRANDA' 'PROSPERO' 'ARIEL' 'CALIBAN'
 'ADRIAN' 'TRINCULO' 'IRIS' 'CERES' 'JUNO' 'Painter' 'Merchant' 'Jeweller'
 'TIMON' 'Old Athenian' 'APEMANTUS' 'ALCIBIADES' 'Cupid' 'All Ladies'
 'All Lords' 'CAPHIS' 'All Servants' 'FLAMINIUS' 'LUCULLUS'
 'First Stranger' 'Second Stranger' 'SERVILIUS' 'Third Stranger'
 'SEMPRONIUS' 'HORTENSIUS' 'PHILOTUS' 'Third Senator' 'Some Speak'
 'Some Others' 'PHRYNIA' 'TIMANDRA' 'First Bandit' 'Second Bandit'
 'Third Bandit' 'Banditti' 'SATURNINUS' 'BASSIANUS' 'MARCUS ANDRONICUS'
 'TITUS ANDRONICUS' 'TAMORA' 'CHIRON' 'LAVINIA' 'Tribunes' 'MUTIUS'
 'MARTIUS' 'QUINTUS' 'AARON' 'MARCUS' 'Young LUCIUS' 'AEMILIUS'
 'First Goth' 'All the Goths' 'Second Goth' 'Third Goth' 'TROILUS'
 'PANDARUS' 'AENEAS' 'CRESSIDA' 'ALEXANDER' 'AGAMEMNON' 'NESTOR' 'ULYSSES'
 'MENELAUS' 'AJAX' 'THERSITES' 'ACHILLES' 'PATROCLUS' 'PRIAM' 'HECTOR'
 'HELENUS' 'CASSANDRA' 'HELEN' 'CALCHAS' 'DEIPHOBUS' 'ANDROMACHE'
 'MARGARELON' 'MYRMIDONS' 'DUKE ORSINO' 'CURIO' 'VALENTINE' 'VIOLA'
 'SIR TOBY BELCH' 'SIR ANDREW' 'OLIVIA' 'MALVOLIO' 'FABIAN' 'PROTEUS'
 'SPEED' 'JULIA' 'LUCETTA' 'PANTHINO' 'SILVIA' 'LAUNCE' 'THURIO'
 'First Outlaw' 'Second Outlaw' 'Third Outlaw' 'EGLAMOUR' 'Outlaws'
 'ARCHIDAMUS' 'CAMILLO' 'POLIXENES' 'LEONTES' 'HERMIONE' 'MAMILLIUS'
 'Second Lady' 'ANTIGONUS' 'PAULINA' 'CLEOMENES' 'DION' 'Mariner' 'Time'
 'AUTOLYCUS' 'FLORIZEL' 'PERDITA' 'DORCAS' 'MOPSA' 'Shepard']

Now we check the actors in the current scene and then for every actor in the scene we put a 1 in their name column if they are present. The idea behind this feature is that hopefully the classifier will learn to only pick from character who are in the current scene, thus greatly reducing the amount of characters to choose from.

In [13]:
for el in range(len(data["actors"])):
    matching = []
    sn = []
    for name in data.at[el+1,"actors"]:
        for word in name.split():
            matching = [s for s in pnames if word in s]
        
        sn.append(matching)
        flat_list = [item for sublist in sn for item in sublist]
    for thing in flat_list:
        data.at[el+1, thing] = 1

Now lets try our classifier out on our new dataset and see if it has improved at all

In [16]:
X_train, X_test, y_train, y_test = train_test_split(data.drop(columns = ["Player","PlayerLine", "Player_cat","actors"]), data["Player_cat"], test_size=.2, random_state=40)

In [17]:
clf =  GaussianNB()
clf.fit(X_train, y_train)
score = clf.score(X_test, y_test)

print(score)

0.5834380610412926

After we have added our features our classifiers accuracy score has gone up to around 60%. This is a significant increase from our previos score which was around 20%. The significant increase in accuracy score indicates that our new features added value to the dataset.